.form-holder{
    margin:50px auto;

    form {
        border: 1px solid #545454;
        border-radius: 3px;
        padding: 40px;
        background-color: rgb(238, 238, 131);
        text-align: center;
        #name, #comment, .submit{
            width:80%;
        }
        #comment{
            height:60px;
        }

    }
}

.results-holder{
    background:rgb(140, 118, 180);
    margin:auto;
    height:100px;
    border:2px solid black;
    border-radius:10px;

    strong{
        font-size:30px;
        display:block;
        text-align:center;
    }
    #results{
        font-size:20px;
        text-align:center;
    }
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}
