header {
    background-color:rgb(47, 47, 47);
    color:#FFF;
    .logo{
        display:inline-block;
        font-size:40px;
        width:45%;
    }
    .nav{
        display: inline-block;
        font-size:20px;
        width:45%;
        font-size:40px;
    }
}